@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Basic Page Styling */
html, body {
  font-family: "system";
  height: 100%;
  color: #666;
  background: #e5e5e5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: underline;
  color: #fff;
}
a:focus {
  text-decoration: none;
}
p {
  line-height: 1.5;
}

/* Header Styling */
.header {
  background: #49c5ff;
  color: #fff;
}
.header .social {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 60px;
}
.header .social a {
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
}
.header .action {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-wrapper {
  background: #02a9f4;
  padding: 5px 0;
  position: absolute;
  width: 100%;
}
.navbar-wrapper .navbar {
  display: inline-block;
}
.navbar-wrapper .navbar li {
  margin-right: 30px;
  display: inline-block;
  background: none;
}
.navbar-wrapper .navbar li:last-child {
  margin: 0;
}

/* Section Styling */
.wrapper {
  padding: 100px 0;
  background: #e5e5e5;
}
.section {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  margin-bottom: 45px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.section-title {
  font-size: 24px;
  text-align: center;
}
.timeline {
  border-left: 3px solid #49c5ff;
  border-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 280px;
}
.timeline .item {
  position: relative;
  margin-bottom: 45px;
}
.timeline .item:last-child {
  margin-bottom: 0;
}
.timeline .item:before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #49c5ff;
}
.timeline .item:after {
  content: "";
  position: absolute;
  left: -37px;
  top: 6px;
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #49c5ff;
  z-index: 10;
}
.timeline .job-title {
  position: absolute;
  left: -250px;
  top: 0;
}